.demo-block.demo-dialog {
  .dialog-footer button:first-child {
    margin-right: 10px;
  }
  .full-image {
    width: 100%;
  }
  .d-dialog__wrapper {
    margin: 0;
  }
  .d-select {
    width: 300px;
  }
  .d-input {
    width: 300px;
  }
  .d-button--text {
    margin-right: 15px;
  }
}
